In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Dataset link : https://www.kaggle.com/code/sabarinathk/medical-cost-prediction

In [4]:
#Read
df=pd.read_csv('path of data')
df.sample(10)

      age     sex     bmi  children smoker     region      charges
1188   43  female  25.270         1    yes  northeast  21771.34230
170    63    male  41.470         0     no  southeast  13405.39030
484    48    male  34.300         3     no  southwest   9563.02900
566    38  female  40.565         1     no  northwest   6373.55735
480    63    male  41.325         3     no  northwest  15555.18875
908    63    male  39.800         3     no  southwest  15170.06900
358    23    male  41.910         0     no  southeast   1837.28190
390    48    male  35.625         4     no  northeast  10736.87075
866    18    male  37.290         0     no  southeast   1141.44510
1186   20    male  35.625         3    yes  northwest  37465.34375

In [6]:
df.shape

(1338, 7)

In [8]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [12]:
print('sex :',df['sex'].unique())
print('smoker :',df['smoker'].unique())
print('region :',df['region'].unique())

sex : ['female' 'male']
smoker : ['yes' 'no']
region : ['southwest' 'southeast' 'northwest' 'northeast']

In [16]:
df['sex']=df['sex'].replace({'male':0,'female':1})
df['smoker']=df['smoker'].replace({'yes':0,'no':1})
df['region']=df['region'].replace({'southwest':0,'southeast':1,'northwest':2,'northeast':3})

In [17]:
df

      age  sex     bmi  children  smoker  region      charges
0      19    1  27.900         0       0       0  16884.92400
1      18    0  33.770         1       1       1   1725.55230
2      28    0  33.000         3       1       1   4449.46200
3      33    0  22.705         0       1       2  21984.47061
4      32    0  28.880         0       1       2   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    0  30.970         3       1       2  10600.54830
1334   18    1  31.920         0       1       3   2205.98080
1335   18    1  36.850         0       1       1   1629.83350
1336   21    1  25.800         0       1       0   2007.94500
1337   61    1  29.070         0       0       2  29141.36030

[1338 rows x 7 columns]

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   int64
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   int64
 5   region    1338 non-null   int64
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(5)
memory usage: 73.3 KB

In [19]:
from sklearn.model_selection import train_test_split

In [24]:
X=df.drop(['charges'],axis=1)
y=df['charges']

In [26]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=123)

In [27]:
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(936, 6) (402, 6) (936,) (402,)

In [28]:
from sklearn.linear_model import LinearRegression

In [43]:
model=LinearRegression()
model.fit(X_train,y_train)
print('train score: ',model.score(X_train,y_train)*100)
print('test score : ',model.score(X_test,y_test)*100)

train score:  74.54618032357492
test score :  76.26072475418817

In [39]:
y_pred=pd.DataFrame(model.predict(X_test))
y_pred

                0
0    15531.966721
1     9516.198445
2    28334.130309
3     5361.657249
4    11497.719059
..            ...
397   7031.400881
398   5695.056696
399  28096.179393
400   7254.873875
401   4926.227857

[402 rows x 1 columns]

In [40]:
from sklearn.metrics import mean_squared_error

In [42]:
metric=mean_squared_error(y_test,y_pred)
metric

33913914.85714985