# Python Basics

## Variables

- Caps sensitive
- not start with number but it can end with number
- space is not allowed
    - u can use My_Integer,MyInteger,_My_Integer,MyInteger1,

In [1]:
#Caps sensistive
a=1
A=3
print(a)
print(A)

1
3

In [2]:
print(a)

1

In [3]:
#Variable update
a=4

In [4]:
print(a)

4

In [5]:
MyIntegerIs=1
myIntegerIs

NameError: name 'myIntegerIs' is not defined

In [6]:
#string('',"")
a,b,c='apple','ball','cat'

In [7]:
print(a,b,c)

apple ball cat

## Data Types

Built in Basics Types
- Numbers
   - Integer (int), ex:1
   - float(float), ex:1.5
   - Complex number (complex) ex: 1+2J
   
- Text (' ', " ")
  - string (str)
  
- Boolean Types
   - (bool)
   The values are 
   - True
   - False
- List []
- Tuple ()
- Set {}
- Dictionary {}  
- None Type
   - None

In [8]:
print(type(a))
print(type(A))
print(type(False))
print(type(None))

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'NoneType'>

## Number
   - Integer (int), ex:1
   - float(float), ex:1.5
   - Complex number (complex) ex: 1+2J

In [9]:
a=1
type(a)

int

In [10]:
b=1.5
type(b)

float

In [11]:
c= 1+2J
type(c)

complex

### Type Casting

In [12]:
a=3
a=float(a)
print(a)
type(a)

3.0

float

In [13]:
b=2.6                # it will not round the value while casting
b=int(b)
print(b)
type(b)

2

int

## String  
- Text (' ', " ")
  - It should end and start with same 
  - string (str)

In [14]:
d='i am learning data science'
d

'i am learning data science'

In [15]:
type(d)

str

In [16]:
f= "i am learning data science"
f

'i am learning data science'

In [17]:
type(f)

str

## Sting Indexing [ ] &  String Slicing
- Normally index in python start with 0
   - postive index (1)
   -  negative index (-1)
- Index can be used fro updating the string

In [18]:
s='PYTHON'

In [19]:
#index
s[1]

'Y'

In [20]:
#slicing
s[0:3]

'PYT'

In [21]:
# to find the length of str
len(s)

6

In [22]:
# positive
s[1]

'Y'

In [23]:
# neagtive
s[-1]

'N'

In [24]:
# postive slicing
s[:3]

'PYT'

In [25]:
# negatice slicing
s[-3:]

'HON'

In [26]:
# to the end
s[3:]

'HON'

In [27]:
s.index('Y')

1

### Updating String

In [28]:
s="PYTHON"

In [29]:
s.replace('P','M')

'MYTHON'

In [30]:
s.replace('PYTHON','Mango')

'Mango'

### Concat Strings

In [31]:
a='apple'
b='is a fruit'

In [32]:
a+''+b  # have  to use white space

'appleis a fruit'

## Format string

In [33]:
name=input('Your name : ')
age=input('Your Age :' )

Your name :
Your Age :

In [34]:
print(name)

In [35]:
txt= "Hi "+ age +" happy to learn data science" + age
txt

'Hi  happy to learn data science'

In [36]:
name='sabari'
age=25
txt="Hi {},welcome to learn datascience at age of {}"
print(txt.format(name,age))

Hi sabari,welcome to learn datascience at age of 25

In [37]:
# with index
name='sabari'
age=25
txt="Hi {1},welcome to learn datascience at age of {0}"
print(txt.format(name,age))

Hi 25,welcome to learn datascience at age of sabari

In [38]:
# with index
name='sabari'
age=25
txt=f"Hi {name},welcome to learn datascience at age of {age}"
txt

'Hi sabari,welcome to learn datascience at age of 25'

## Escape Characters

In [39]:
a='i am sabari\n,i am learning data science'
print(a)

i am sabari
,i am learning data science

In [40]:
a='i am sabari\t,i am learning data science'
print(a)

i am sabari	,i am learning data science

In [41]:
a='i am sabari\b,i am learning data science'
print(a)

i am sabari,i am learning data science

In [42]:
import datetime

In [43]:
date=datetime.date

In [44]:
a=date.today()
print(a)

2023-07-29

In [45]:
a='today\'s date'
a

"today's date"

### String with whitespace

In [46]:
# white space are counted in index

s= 'Python'
print("length of 's' :",len(s),'- without whitespace')

a=' Python'      # has whitespace
print('length of a :',len(a),'- With whitespace')

length of 's' : 6 - without whitespace
length of a : 7 - With whitespace

In [47]:
f= 'i am learning data science'

f[:4]

'i am'

### Type casting in string

In [48]:
a=str(1)
a

'1'

In [49]:
type(a)

str

In [50]:
b=float('2.5a')
b

ValueError: could not convert string to float: '2.5a'

In [51]:
type(b)

str

#### Characters of string

In [52]:
# don't break the line while using single and double quote
d='i am learning
data science'
d

SyntaxError: unterminated string literal (detected at line 2) (1703780366.py, line 2)

In [53]:
g='today's NEWS'

SyntaxError: unterminated string literal (detected at line 1) (4232850146.py, line 1)

In [54]:
g="today's NEWS"

In [55]:
# You can break the line using triple quote
# for documentation in funtion - Doc string

c=""" I
am
learning
data science
"""

In [56]:

c='''
I
am
learning
data science

'''

In [57]:
print()

# Operators
- Arithmetic Operators
- Assignment Operatos

## Arithmetic Operators

In [58]:
1+2

3

In [59]:
1-2

-1

In [60]:
3*3

9

In [61]:
9/6

1.5

In [62]:
# modulus (remainder)
9%6

3

In [63]:
9//6

1

In [64]:
#Exponentiation (power)
3**4

81

## Assignment Operators
### Example for boolean

In [65]:
a=1
b=1

In [66]:
#equal
a==b

True

In [67]:
#not equal
a!=b

False

In [68]:
a<b

False

In [69]:

a>b

False

In [70]:
a<=b

True

In [71]:
a>=b

True

# Compound Data types
- list [ ]
- tuple( )
- set  { }
- dict { }

There are four collection data types in the Python programming language:
- List is a collection which is ordered and changeable. Allows duplicate members.
- Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
- Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
- Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [72]:
a=[1,'sabari',3,4,4]
type(a)

list

In [73]:
print(a)

[1, 'sabari', 3, 4, 4]

In [74]:
b=(1,'sabari',3,4)
type(b)

tuple

In [75]:
print(b)

(1, 'sabari', 3, 4)

## List
- ordered
- mutable (changeble)
- allow duplicates

In [76]:
c=[]
type(c)

list

In [77]:
a=['sabari','hari',23,23] # allow duplicates
type(a)

list

In [78]:
len(a)

4

In [79]:
print(a)    # ordered

['sabari', 'hari', 23, 23]

In [80]:
a[0]   #indexing like string

'sabari'

In [81]:
a[-1]

23

In [82]:
a[0]='nadha'   # changable

In [83]:
a

['nadha', 'hari', 23, 23]

In [84]:
a.count(23)  # count the number of iteams or value

2

In [85]:
a.index(23)

2

In [86]:
a.reverse()       
a

[23, 23, 'hari', 'nadha']

In [87]:
b=[9,7,7,6,9]

In [88]:
a+b         # join two list

[23, 23, 'hari', 'nadha', 9, 7, 7, 6, 9]

In [89]:
b.sort(reverse=True)
b

[9, 9, 7, 7, 6]

In [90]:
b.pop(3)   # take that out of the list with index value

7

In [91]:
b

[9, 9, 7, 6]

In [92]:
b.remove(9)    # remove item with value 
b

[9, 7, 6]

In [93]:
b.append(2)        # add the item at end

In [94]:
b

[9, 7, 6, 2]

In [95]:
b.insert(1,'sabari')  # adding values with speific index

In [96]:
b

[9, 'sabari', 7, 6, 2]

In [97]:
b.extend([1,2,3,])      # add mutiple value data time

In [98]:
b

[9, 'sabari', 7, 6, 2, 1, 2, 3]

In [99]:
b.reverse()            
b

[3, 2, 1, 2, 6, 7, 'sabari', 9]

In [100]:
b.clear()

In [101]:
b

[]

## Tuple
- ordered
- immuntable (not changeable)
- allow duplicates

In [102]:
b=(1,2,2,'sabari')         # allow duplicates
type(b)

tuple

In [103]:
b                         # ordered

(1, 2, 2, 'sabari')

In [104]:
b[0]=2

TypeError: 'tuple' object does not support item assignment

In [105]:
b.count(1)

1

In [106]:
b.index('sabari')

3

## Set
- unordered,
- unchangeable*, and unindexed.
- No duplicate members.

In [107]:
a={1,2,2,3,4,5,'sabari'}

In [108]:
type(a)

set

In [109]:
a        # no duplicates

{1, 2, 3, 4, 5, 'sabari'}

## Dict
- ordered
- changeable
- No duplicate members.

In [110]:
s={'name':'sabari',          # key : value
   'age': 25}

In [111]:
type(s)

dict

In [112]:
s.keys()

dict_keys(['name', 'age'])

In [113]:
s.values()

dict_values(['sabari', 25])

In [114]:
s['name']          # access buy key

'sabari'

In [115]:
s.items()

dict_items([('name', 'sabari'), ('age', 25)])

In [116]:
s['name']='Hari'         #update values

In [117]:
s

{'name': 'Hari', 'age': 25}

In [118]:
a={
   'name':'sabari',
    'age':25.3,
    'year':2023,
    'subject':['data science','web devlopment',"cloud"]
    
    
}

In [119]:
a

{'name': 'sabari',
 'age': 25.3,
 'year': 2023,
 'subject': ['data science', 'web devlopment', 'cloud']}

In [120]:
a['subject']

['data science', 'web devlopment', 'cloud']

# and , or Operators

In [121]:
True and True

True

In [122]:
True or False

True

In [123]:
False or True

True

In [124]:
False or False

False

# If,elif,else statement

In [125]:
If u Pass in exam, u get ur car
else u won't

SyntaxError: unterminated string literal (detected at line 2) (3022852837.py, line 2)

In [126]:
english='pass'
hindi='fail'


if english=='pass' and hindi=='fail':           #if will be true when condition is passed 
    print('Hey, congrats you passed in english')
elif english=='pass' and hindi=='pass':
    print('all pass')
else:                                           # IF above all contions are failed
    print('You missed your car')

Hey, congrats you passed in english

In [150]:
x = int(input("Please enter an integer: "))

if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Please enter an integer: 0
Zero

# Loops

i am studing python for data science

In [130]:
study='Python'

for i in study:
    print(i)

P
y
t
h
o
n

In [131]:
words = ['cat', 'window', 'defence']
for i in words:
    print(i, len(i))

cat 3
window 6
defence 7

In [165]:
users = {'Hans': 'active', 'lonore': 'inactive', '': ' '}
for i,j in users.items():
    if j=='inactive':
        print('Inactive member is :',i)
    elif j=='active':
        print('Active member is :',i)
    else :
        print ('Status not found')
          
    print("completed ")
else:
    print('data done')

Active member is : Hans
completed
Inactive member is : lonore
completed
Status not found
completed
data done

## .Copy()

In [215]:
a={'name':'sabari'}
a

{'name': 'sabari'}

In [221]:
b=a.copy()
b

{'name': 'sam'}

In [222]:
b['name']='sam'

In [223]:
a

{'name': 'sam'}

## break and continue Statements, and else Clauses on Loops

The break statement breaks out of the innermost enclosing for or while loop.

A for or while loop can include an else clause.

In a for loop, the else clause is executed after the loop reaches its final iteration.

In a while loop, its executed after the loops condition becomes false.

In either kind of loop, the else clause is not executed if the loop was terminated by a break.

In [3]:
words=['name','age']

for i in words:
    print(i)
else:
    print("task completed")

name
age
task completed

In [13]:
i=1
while i<10:
    print(i)
    i=i+1     #i +=1

1
2
3
4
5
6
7
8
9

## break statement

In [30]:
i=1
while i<10:     # loop heading
    print(i)
    if i == 5:break     # stop the loop completely
    i=i+1

1
2
3
4
5

In [23]:
i=1
while i<10:
    i=i+1 
    if i == 5:
        continue         # continue the head again
    print(i)

2
3
4
6
7
8
9
10

In [32]:
words=['name','age','subject','work','height']

for i in words:
    print(i)
    if i == 'subject':continue
    print(i,': Completed')
else:
    print("task completed")

name
name : Completed
age
age : Completed
subject
work
work : Completed
height
height : Completed
task completed

## List comprehension

In [35]:
a=10
b=10
c=a+b

In [36]:
c

20

In [49]:
words=['name','age','subject','work','height']
d=[]
for i in words:
    print(i)
    print(i,': Completed')
    d.append(i)
else:
    print("task completed")

name
name : Completed
age
age : Completed
subject
subject : Completed
work
work : Completed
height
height : Completed
task completed

In [50]:
d

['name', 'age', 'subject', 'work', 'height']

In [74]:
f=[ i  for i in words]
f

['name', 'age', 'subject', 'work', 'height']

In [63]:
b=[]
for i in freshfruit:
    a=i.strip()
    b.append(a)

In [64]:
b

['banana', 'loganberry', 'passion fruit']

In [68]:
c=[i.strip() for i in freshfruit]

In [69]:
c

['banana', 'loganberry', 'passion fruit']

In [70]:
c=[ i.strip()  for i in freshfruit]

In [84]:
import keyword

In [86]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']


## Function
- use:
    - to reuse the code

- it run when its called
- number and position of argument is important (if argument is mentioned, position is not important)
- dont use print  in fucntion use retrun
- postion of the return variable also important

In [165]:
words=[' name','age','subject','   work','height']    # with whitepace

In [166]:
d=[]
for i in words:
    a=i.strip()
    d.append(a)
else:
    print("task completed")

task completed

In [167]:
d                            # without

['name', 'age', 'subject', 'work', 'height']

In [168]:
# user define function

def WhiteSpaceRemover(words):   # function_name(arugments)
    d=[]
    for i in words:
        a=i.strip()
        d.append(a)
    print (d)         # don't use print -- reason will given in below

In [169]:
word=[' name','age','subject','   work','height'] 
my=['my',' name','age','subject','   work','height'] 
wooo=['woo',' name','age','subject','   work','height'] 
woood=[' name','age','subject','   work','height','woood']

In [170]:
WhiteSpaceRemover(words=my)

['my', 'name', 'age', 'subject', 'work', 'height']

In [171]:
WhiteSpaceRemover(words=wooo)

['woo', 'name', 'age', 'subject', 'work', 'height']

In [172]:
WhiteSpaceRemover(woood,my)               # number of arugments is important

TypeError: WhiteSpaceRemover() takes 1 positional argument but 2 were given

In [177]:
def sub(b,a=0):   # here 0 is the default value of the function          
    '''
    This function is for subtracting two number
    
    arguments:
       a = default=0,int
       b = int
    
    example: 
    >>> sum (a=3,b=1)
    ... 2
    
    '''
    
    c=a-b
    print('value of a is :',a)
    print('value of b is :',b)
    print(c)

In [174]:
sub(2,3)         # position of the argument also important

value of a is : 3
value of b is : 2
1

In [175]:
sub(3,2)           # position of the argument also important

value of a is : 2
value of b is : 3
-1

In [155]:
sub(b=3,a=2)       # if argument is mentioned, position is not important

value of a is : 2
value of b is : 3
-1

In [164]:
sub(3)         # here 0 is the default value of the function

value of a is : 0
value of b is : 3
-3

In [180]:
def sub(b,a=0):   # here 0 is the default value of the function          
    '''
    This function is for subtracting two number
    
    arguments:
       a = default=0,int
       b = int
    
    example: 
    >>> sum (a=3,b=1)
    ... 2
    
    '''
    c=a-b
    print(c)

In [189]:
z=sub(8,4)

-4

In [195]:
z        # no value stored in variable beacuse function using print

In [223]:
def sub(b,a=0):   # here 0 is the default value of the function          
    '''
    This function is for subtracting two number
    
    arguments:
       a = default=0,int
       b = int
    
    example: 
    >>> sum (a=3,b=1)
        c=3-1
    ... a,b,c=3,1,2
    
    
    
    '''
    c=a-b
    return a,b,c

In [226]:
_,_,f=sub(9,10)

In [227]:
f      #value stored in varibale because function using return

1