# Python Basics

## Variables

- Caps sensitive
- not start with number but it can end with number
- space is not allowed
    - u can use My_Integer,MyInteger,_My_Integer,MyInteger1,

In [ ]:
#Caps sensistive
a=1
A=3
print(a)
print(A)

In [ ]:
print(a)

In [ ]:
#Variable update
a=4

In [ ]:
print(a)

In [ ]:
MyIntegerIs=1
myIntegerIs

In [ ]:
#string('',"")
a,b,c='apple','ball','cat'

In [ ]:
print(a,b,c)

## Data Types

Built in Basics Types
- Numbers
   - Integer (int), ex:1
   - float(float), ex:1.5
   - Complex number (complex) ex: 1+2J
   
- Text (' ', " ")
  - string (str)
  
- Boolean Types
   - (bool)
   The values are 
   - True
   - False
- List []
- Tuple ()
- Set {}
- Dictionary {}  
- None Type
   - None

In [ ]:
print(type(a))
print(type(A))
print(type(False))
print(type(None))

## Number
   - Integer (int), ex:1
   - float(float), ex:1.5
   - Complex number (complex) ex: 1+2J

In [ ]:
a=1
type(a)

In [ ]:
b=1.5
type(b)

In [ ]:
c= 1+2J
type(c)

### Type Casting

In [ ]:
a=3
a=float(a)
print(a)
type(a)

In [ ]:
b=2.6                # it will not round the value while casting
b=int(b)
print(b)
type(b)

## String  
- Text (' ', " ")
  - It should end and start with same 
  - string (str)

In [ ]:
d='i am learning data science'
d

In [ ]:
type(d)

In [ ]:
f= "i am learning data science"
f

In [ ]:
type(f)

## Sting Indexing [ ] &  String Slicing
- Normally index in python start with 0
   - postive index (1)
   -  negative index (-1)
- Index can be used fro updating the string

In [ ]:
s='PYTHON'

In [ ]:
#index
s[1]

In [ ]:
#slicing
s[0:3]

In [ ]:
# to find the length of str
len(s)

In [ ]:
# positive
s[1]

In [ ]:
# neagtive
s[-1]

In [ ]:
# postive slicing
s[:3]

In [ ]:
# negatice slicing
s[-3:]

In [ ]:
# to the end
s[3:]

In [ ]:
s.index('Y')

### Updating String

In [ ]:
s="PYTHON"

In [ ]:
s.replace('P','M')

In [ ]:
s.replace('PYTHON','Mango')

### Concat Strings

In [ ]:
a='apple'
b='is a fruit'

In [ ]:
a+''+b  # have  to use white space

## Format string

In [ ]:
name=input('Your name : ')
age=input('Your Age :' )

In [ ]:
print(name)

In [ ]:
txt= "Hi "+ age +" happy to learn data science" + age
txt

In [ ]:
name='sabari'
age=25
txt="Hi {},welcome to learn datascience at age of {}"
print(txt.format(name,age))

In [ ]:
# with index
name='sabari'
age=25
txt="Hi {1},welcome to learn datascience at age of {0}"
print(txt.format(name,age))

In [ ]:
# with index
name='sabari'
age=25
txt=f"Hi {name},welcome to learn datascience at age of {age}"
txt

## Escape Characters

In [ ]:
a='i am sabari\n,i am learning data science'
print(a)

In [ ]:
a='i am sabari\t,i am learning data science'
print(a)

In [ ]:
a='i am sabari\b,i am learning data science'
print(a)

In [1]:
import datetime

In [2]:
date=datetime.date

In [4]:
a=date.today()
print(a)

2023-07-22

In [7]:
a='today\'s date'
a

"today's date"

### String with whitespace

In [ ]:
# white space are counted in index

s= 'Python'
print("length of 's' :",len(s),'- without whitespace')

a=' Python'      # has whitespace
print('length of a :',len(a),'- With whitespace')

In [ ]:
f= 'i am learning data science'

f[:4]

### Type casting in string

In [ ]:
a=str(1)
a

In [ ]:
type(a)

In [ ]:
b=float('2.5a')
b

In [ ]:
type(b)

#### Characters of string

In [ ]:
# don't break the line while using single and double quote
d='i am learning
data science'
d

In [ ]:
g='today's NEWS'

In [ ]:
g="today's NEWS"

In [ ]:
# You can break the line using triple quote
# for documentation in funtion - Doc string

c=""" I
am
learning
data science
"""

In [ ]:

c='''
I
am
learning
data science

'''

In [ ]:
print()

# Operators
- Arithmetic Operators
- Assignment Operatos

## Arithmetic Operators

In [1]:
1+2

3

In [2]:
1-2

-1

In [3]:
3*3

9

In [4]:
9/6

1.5

In [6]:
# modulus (remainder)
9%6

3

In [7]:
9//6

1

In [11]:
#Exponentiation (power)
3**4

81

## Assignment Operators
### Example for boolean

In [32]:
a=1
b=1

In [18]:
#equal
a==b

False

In [19]:
#not equal
a!=b

True

In [23]:
a<b

False

In [24]:
a>b

False

In [25]:
a<=b

True

In [26]:
a>=b

True

# Compound Data types
- list [ ]
- tuple( )
- set  { }
- dict { }

There are four collection data types in the Python programming language:
- List is a collection which is ordered and changeable. Allows duplicate members.
- Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
- Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
- Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [56]:
a=[1,'sabari',3,4,4]
type(a)

list

In [57]:
print(a)

[1, 'sabari', 3, 4, 4]

In [58]:
b=(1,'sabari',3,4)
type(b)

tuple

In [59]:
print(b)

(1, 'sabari', 3, 4)

## List
- ordered
- mutable (changeble)
- allow duplicates

In [183]:
c=[]
type(c)

list

In [184]:
a=['sabari','hari',23,23] # allow duplicates
type(a)

list

In [185]:
len(a)

4

In [102]:
print(a)    # ordered

['sabari', 'hari', 23, 23]

In [103]:
a[0]   #indexing like string

'sabari'

In [104]:
a[-1]

23

In [105]:
a[0]='nadha'   # changable

In [106]:
a

['nadha', 'hari', 23, 23]

In [107]:
a.count(23)  # count the number of iteams or value

2

In [111]:
a.index(23)

2

In [114]:
a.reverse()       
a

[23, 23, 'hari', 'nadha']

In [187]:
b=[9,7,7,6,9]

In [188]:
a+b         # join two list

['sabari', 'hari', 23, 23, 9, 7, 7, 6, 9]

In [167]:
b.sort(reverse=True)
b

[9, 9, 7, 7, 6]

In [168]:
b.pop(3)   # take that out of the list with index value

7

In [169]:
b

[9, 9, 7, 6]

In [170]:
b.remove(9)    # remove iteam with value 
b

[9, 7, 6]

In [171]:
b.append(2)        # add the iteam at end

In [172]:
b

[9, 7, 6, 2]

In [173]:
b.insert(1,'sabari')  # adding values with speific index

In [174]:
b

[9, 'sabari', 7, 6, 2]

In [176]:
b.extend([1,2,3,])      # add mutiple value data time

In [177]:
b

[9, 'sabari', 7, 6, 2, 1, 2, 3]

In [180]:
b.reverse()            
b

[3, 2, 1, 2, 6, 7, 'sabari', 9]

In [181]:
b.clear()

In [182]:
b

[]

## Tuple
- ordered
- immuntable (not changeable)
- allow duplicates

In [87]:
b=(1,2,2,'sabari')         # allow duplicates
type(b)

tuple

In [88]:
b                         # ordered

(1, 2, 2, 'sabari')

In [89]:
b[0]=2

TypeError: 'tuple' object does not support item assignment

In [90]:
b.count(1)

1

In [91]:
b.index('sabari')

3

## Set
- unordered,
- unchangeable*, and unindexed.
- No duplicate members.

In [212]:
a={1,2,2,3,4,5,'sabari'}

In [213]:
type(a)

set

In [214]:
a        # no duplicates

{1, 2, 3, 4, 5, 'sabari'}

## Dict
- ordered
- changeable
- No duplicate members.

In [220]:
s={'name':'sabari',          # key : value
   'age': 25}

In [199]:
type(s)

dict

In [221]:
s.keys()

dict_keys(['name', 'age'])

In [222]:
s.values()

dict_values(['sabari', 25])

In [224]:
s['name']

'sabari'

In [225]:
s.items()

dict_items([('name', 'sabari'), ('age', 25)])

In [230]:
s['name']='Hari'

In [231]:
s

{'name': 'Hari', 'age': 25}

In [ ]:
s.